.header__nav {
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header__menu {
    padding: 20px;
    flex: 1.236;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    list-style: none;
}